/* 
bgColor="#a53333"
color="#1f2832" 
*/

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}
ul {
  list-style-type: none;
}

h1 {
  color: #a53333;
  text-align: center;
  padding: 1em 0;
}
p,
li {
  color: #1f2832;
}

#fullpage {
  min-height: calc(100vh - 124px);
  padding: 1em;
}

.stickynav {
  position: sticky !important;
  top: 0;
}

/*------------------ pokedex ----------------- */
.pokemonName,
.cocktailName,
.movieName {
  transition: all 700ms ease;
}
.pokemonName:hover,
.cocktailName:hover,
.movieName:hover {
  cursor: pointer;
  box-shadow: 0px 8px 9px -3px rgba(68, 68, 68, 0.61);
  background-color: rgb(245, 245, 245);
  border-radius: 10px;
}
.pokeImg,
.pokeShinyImg {
  height: 350px;
  padding: 1em 0;
}
.pokemonName:hover li,
.cocktailName:hover li,
.movieName:hover li p {
  color: #749ca1;
}
.pokemonName li {
  padding-bottom: 1em;
}

/*------------------ cocktail ----------------- */

.movieName li p {
  text-align: center;
  min-height: 50px;
}

/*------------------ aoe ----------------- */

.unitstable {
  text-decoration: underline;
  color: #749ca1;
}
.unitstable li {
  color: #749ca1;
}
.unitstable:hover {
  opacity: 0.5;
}
